.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.container {
  position: relative;
  margin-top: 6%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: white;
}
.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.csv-btn {
  text-decoration: none;
  text-align: center;
  z-index: 1;
  background-color: none;
  padding-top: 1.2em;
  padding-bottom: 1.2em;

  border: 2px solid blue;
  border-radius: 0.5em;
  color: blue;
  font-size: 0.8em;
  font-weight: 800;
  width: 120px;
  position: relative;
  margin-top: 1em;
  /* margin-left: 81%; */
}

.csv-btn:hover {
  background-color: blue;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border: 2px solid blue;
  border-radius: 0.5em;
  color: white;
  font-size: 0.8em;
  font-weight: 800;
  cursor: pointer;
}

/* ----------------------------- MEDIA QUERIES ---------------------- */
@media only screen and (max-width: 300px) {
  .container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-size: 10px;
    z-index: 1;
  }
  .title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
  .container {
    position: relative;
    margin-top: 6%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    color: white;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
}

@media only screen and (min-width: 1300px) {
}
