.navbar {
  background-color: black;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  max-width: 100vw;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #0ab0fc;
}

.get-started {
  border: 1px solid white;
  padding: 1em;
  border-radius: 0.5em;
}

@media only screen and (max-width: 300px) {
  .navbar {
    background-color: black;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
    font-size: 6px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: -6em;
  }

  .get-started {
    border: 1px solid white;
    padding: 1em;
    border-radius: 0.5em;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  .navbar {
    background-color: black;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
    font-size: 6px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: -6em;
  }

  .get-started {
    border: 1px solid white;
    padding: 1em;
    border-radius: 0.5em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
  .navbar {
    background-color: black;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
    font-size: 8px;
    height: 6em;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: -4em;
  }

  .get-started {
    border: 1px solid white;
    padding: 1em;
    border-radius: 0.5em;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .navbar {
    background-color: black;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
    font-size: 12px;
    height: 6em;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: -3em;
  }

  .get-started {
    border: 1px solid white;
    padding: 1em;
    border-radius: 0.5em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .navbar {
    background-color: black;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
    font-size: 16px;
    height: 5.5em;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: -2em;
  }

  .get-started {
    border: 1px solid white;
    padding: 1em;
    border-radius: 0.5em;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .navbar {
    background-color: black;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
    font-size: 16px;
    height: 5.5em;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: -2em;
  }

  .get-started {
    border: 1px solid white;
    padding: 1em;
    border-radius: 0.5em;
  }
}

@media only screen and (min-width: 1300px) {
  .navbar {
    background-color: black;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
    font-size: 16px;
    height: 5.5em;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: -2em;
  }

  .get-started {
    border: 1px solid white;
    padding: 1em;
    border-radius: 0.5em;
  }
}
