.navbar {
  background-color: black;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #0ab0fc;
}

.get-started {
  border: 1px solid white;
  padding: 1em;
  border-radius: 0.5em;
}
