.crypto-select {
  display: flex;
  flex-direction: column;
  width: 10%;
}

select {
  height: 15%;
}

.select {
  line-height: 10%;
  margin-top: 1em;
  /* font-size: 1em; */
  /* margin-bottom: 1em; */
}

/* ----------------------------- MEDIA QUERIES ---------------------- */
@media only screen and (min-width: 300px) and (max-width: 650px) {
}

@media only screen and (max-width: 300px) {
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
}

@media only screen and (min-width: 1300px) {
}
