.crypto-select {
  display: flex;
  flex-direction: column;
  width: 10%;
}

select {
  height: 15%;
}

.select {
  line-height: 10%;
  margin-top: 1em;
  /* font-size: 1em; */
  /* margin-bottom: 1em; */
}
