.signup-container {
  background-color: #1d70f5;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  min-height: 780px;
}

.signup-title {
  color: white;
  font-size: 2em;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 3em;
}

.signup-form {
  background-color: white;
  min-height: 580px;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
}

.signup-form input {
  font-size: 1.2em;
  padding: 0.8em;
  border-radius: 7px;
  border: 1px solid #e6e6e6;
  margin: 0.6em;
  color: grey;
  padding-top: 1em;
  padding-bottom: 1em;
}

.email,
.password {
  width: 83%;
}

.checkbox-container {
  display: block;
  text-align: left;
  margin-left: 4%;
}

.checkbox {
  display: inline-block;
  float: left;
}

.create-account-btn {
  display: block;
  background-color: rgb(22, 82, 240);
  font-size: 1.3em;
  padding: 1.3em;
  border-radius: 5px;
  width: 87%;
  color: white;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* ----------------------------- MEDIA QUERIES ---------------------- */
@media only screen and (max-width: 300px) {
  .signup-container {
    font-size: 10px;
    min-height: 100vh;
  }
  .signup-title {
    font-size: 2em;
    letter-spacing: 3px;
    margin-top: 3em;
  }
  .signup-form {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    min-height: 450px;
  }
  .signup-form input {
    font-size: 1.2em;
    padding: 0.8em;
    margin: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .create-account-btn {
    font-size: 1.3em;
    padding: 1.3em;
    border-radius: 5px;
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .email,
  .password {
    width: 90%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 450px) {
  .signup-container {
    font-size: 10px;
    min-height: 100vh;
  }
  .signup-title {
    font-size: 2em;
    letter-spacing: 3px;
    margin-top: 3em;
  }
  .signup-form {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    min-height: 450px;
  }
  .signup-form input {
    font-size: 1.2em;
    padding: 0.8em;
    margin: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 80%;
  }
  .create-account-btn {
    font-size: 1.3em;
    padding: 1.3em;
    border-radius: 5px;
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
  .signup-container {
    font-size: 14px;
    min-height: 100vh;
    width: 100%;
  }
  .signup-title {
    font-size: 2em;
    letter-spacing: 3px;
    margin-top: 3em;
  }
  .signup-form {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    min-height: 500px;
  }
  .signup-form input {
    font-size: 1.2em;
    padding: 0.8em;
    margin: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .first-name,
  .last-name {
    width: 35%;
  }

  .password,
  .email {
    width: 80%;
  }

  .create-account-btn {
    font-size: 1.3em;
    padding: 1.3em;
    border-radius: 5px;
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .checkbox-container {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .signup-container {
    font-size: 14px;
    min-height: 100vh;
  }
  .signup-title {
    font-size: 2em;
    letter-spacing: 3px;
    margin-top: 3.2em;
    margin-bottom: 1em;
  }
  .signup-form {
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    min-height: 500px;
  }
  .signup-form input {
    font-size: 1.2em;
    padding: 0.8em;
    margin: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .first-name,
  .last-name {
    width: 35%;
  }

  .password,
  .email {
    width: 80%;
  }

  .create-account-btn {
    font-size: 1.3em;
    padding: 1.3em;
    border-radius: 5px;
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .checkbox-container {
    margin-top: 2em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .signup-container {
    font-size: 16px;
    min-height: 100vh;
  }
  .signup-title {
    font-size: 2em;
    letter-spacing: 3px;
    margin-top: 3.5em;
    margin-bottom: 1em;
  }
  .signup-form {
    width: 40%;
    margin: 0 auto;
    padding: 1em;
    min-height: 450px;
  }
  .signup-form input {
    font-size: 1em;
    padding: 0.8em;
    margin: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .first-name,
  .last-name {
    width: 35%;
  }

  .password,
  .email {
    width: 80%;
  }

  p {
    font-size: 0.9em;
  }
  .create-account-btn {
    font-size: 1.1em;
    padding: 1em;
    border-radius: 5px;
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .checkbox-container {
    margin-top: 2em;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .signup-container {
    font-size: 16px;
    min-height: 100vh;
  }
  .signup-title {
    font-size: 2.5em;
    letter-spacing: 3px;
    margin-top: 2.8em;
    margin-bottom: 0.9em;
  }
  .signup-form {
    width: 40%;
    margin: 0 auto;
    padding: 1em;
    min-height: 450px;
  }
  .signup-form input {
    font-size: 1em;
    padding: 0.8em;
    margin: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .first-name,
  .last-name {
    width: 35%;
  }

  .password,
  .email {
    width: 80%;
  }

  p {
    font-size: 0.9em;
  }
  .create-account-btn {
    font-size: 1.1em;
    padding: 1em;
    border-radius: 5px;
    width: 45%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .checkbox-container {
    margin-top: 2em;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .signup-container {
    font-size: 16px;
    min-height: 100vh;
  }
  .signup-title {
    font-size: 2.9em;
    letter-spacing: 3px;
    margin-top: 2.5em;
    margin-bottom: 0.3em;
  }
  .signup-form {
    width: 35%;
    margin: 0 auto;
    padding: 1em;
    min-height: 450px;
    margin-bottom: 5em;
  }
  .signup-form input {
    font-size: 1em;
    padding: 0.8em;
    margin: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .first-name,
  .last-name {
    width: 35%;
  }

  .password,
  .email {
    width: 80%;
  }

  p {
    font-size: 0.7em;
  }
  .create-account-btn {
    font-size: 1.1em;
    padding: 1em;
    border-radius: 5px;
    width: 45%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .checkbox-container {
    margin-top: 2em;
  }
}

@media only screen and (min-width: 1500px) {
  .signup-container {
    font-size: 16px;
    min-height: 100vh;
  }
  .signup-title {
    font-size: 3.4em;
    letter-spacing: 3px;
    margin-top: 2.3em;
    margin-bottom: 0.5em;
  }
  .signup-form {
    width: 30%;
    margin: 0 auto;
    padding: 1em;
    min-height: 600px;
    margin-bottom: 3em;
  }
  .signup-form input {
    font-size: 1.1em;
    padding: 0.8em;
    margin: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .first-name,
  .last-name {
    width: 30%;
  }

  .password,
  .email {
    width: 70%;
  }

  p {
    font-size: 0.9em;
  }
  .create-account-btn {
    font-size: 1.2em;
    padding: 1em;
    border-radius: 5px;
    width: 40%;
    margin-top: 1.6em;
    margin-bottom: 2em;
  }
  .checkbox-container {
    margin-top: 1em;
    width: 75%;
  }
}
