.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.csv-btn {
  text-decoration: none;
  text-align: center;
  z-index: 1;
  background-color: none;
  padding-top: 1.2em;
  padding-bottom: 1.2em;

  border: 2px solid blue;
  border-radius: 0.5em;
  color: blue;
  font-size: 0.8em;
  font-weight: 800;
  width: 120px;
  position: relative;
  margin-top: 1em;
  margin-left: 81%;
}

.csv-btn:hover {
  background-color: blue;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border: 2px solid blue;
  border-radius: 0.5em;
  color: white;
  font-size: 0.7em;
  font-weight: 600;
  cursor: pointer;
}
