.navbar {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #0ab0fc;
}
