th,
td {
  border: 0.1em solid black;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
  border: 0.1em solid black;
  width: 80%;
  margin-left: 10%;
  position: relative;
  /* display: flex;
  flex-direction: column; */
}

thead {
  border: 1px solid black;
  /* border-radius: 30px; */
}

.table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

th {
  padding: 0.6em;
  background-color: #d2e2fc;
}

td {
  padding: 0.6em;
}

i {
  background-color: #d2e2fc;
}

#rating-up {
  border: none;
  background-color: #d2e2fc;
}

#rating-down {
  border: none;
  background-color: #d2e2fc;
}

.chevrons {
  display: flex;
  flex-direction: column;
  color: grey;
  width: 2em;
  margin-left: 0.5em;
}

button {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  border: none;
}

#rating-up:hover {
  cursor: pointer;
  color: black;
}

#rating-down:hover {
  cursor: pointer;
  color: black;
}
